@use "../abstract/mixings" as resp;
@use "../abstract/mixings" as animat;
@use "../components/fonts" as fonts;
@use "../components/variable" as vars;

.start-screen {
  @include resp.fex-center();
  flex-direction: column;
  gap: 2rem;
  background-color: vars.$primary-color-bg;
  > img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 400px;
    height: auto;
  }
}

.start-screen-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 991px;

  & .sub-headline {
    font-size: 48px;
    width: 100%;
    text-align: left;
    font-weight: fonts.$font-weight-light;
    color: var(--color-text-light);
    font-family: "Almarai Regular", sans-serif;
    margin: 10px 0 0 0;
  }
  & h1 {
    margin: 0;
    width: 991px;
    font-size: 140px;
    line-height: 175px;
    font-family: "red-rose-bold", sans-serif;
    font-weight: 700;
    color: var(--color-text-light);
    white-space: nowrap;
  }
}

.start-screen-buttons {
  @include animat.fade-in(1s);
  display: grid;
  gap: 2rem;
  align-items: center;
  transition: all 0.3s ease;
  background-color: rgb(240, 234, 110);
  cursor: pointer;
  margin: 60px 0 0 0;

  &:hover {
    padding: 0 7px;
    transition: all 0.3s ease;
  }
  & .button-icons {
    width: 50px;
    height: auto;
    top: 53%;
    position: fixed;
  }

  & .button-icons.--controller {
    width: 50px;
    margin: -16px 7.5rem -16px 8px;
  }

  & .button-icons.--arrow {
    width: 40px;
    margin: -10px 0 -10px 10.5rem;
    transition: all 0.35s ease-in-out;
  }

  &:hover .button-icons.button-icons.--arrow {
    width: 40px;
    scale: 1.5;
    margin: -9px 0 -9px 11.3rem;
    transition: all 0.35s ease-in-out;
  }
  &:hover .button-icons.button-icons.--controller {
    transform: rotate(-25deg);
    transition: all 0.35s ease-in-out;
  }
}
